<!DOCTYPE html>
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>All Products : Aling Nena </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Aling Nena</a>
		  <a class="navbar-brand" href="/products">Products</a>
		  <a class="navbar-brand" href="/about">About</a>
        </div>
		<img src="images/Aling Nena Logo.png" name="logo" id="logo" />
      </div>
    </div>
	<br />
	<img src="images/Jerrold.png" style="float: center" />
	<h1>THE LEGEND OF ALING NENA</h1>
	<br />
	<p>	A long time ago, after the brutal and vicious Sari-Sari Wars, a savior was born. Her name was Aling Nena, and she was not the savior. Born into a family of 87, Aling Nena had a hard time making friends due to her constantly high demands with incredibly near deadlines. What makes Aling Nena very unique however, is that no one has ever seen her in person.</p>
	<p>	Despite her unusual trait, she became a very successful entrepreneur. She opened her very first sari-sari store right next to a cemetery, and it's still her only store. Armed with a program and now an army of websites to conduct her business, her store became popular and well-known for selling very unusual wares at equally unusual prices.</p>
	<p>	Aling Nena's websites are both legendary and infinite. These websites are created by Management Information Systems who have lost their souls during the process and are a large source of Aling Nena's income and youthfulness. Legends say that the more websites are created, the more powerful Aling Nena becomes and prolongs her youth.</p>
	
  </body>
</html>